.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.vscode/ipch/
.vscode/*.db
.vscode/*.db-shm
.vscode/*.db-wal
.cache

.clangd/

compile_commands.json
clang-crash-*

build/

__pycache__/
*.pyc
*.pyo